* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

header {
  align-items: center;
  height: 100px;
  background-color: #a3a3a3;
  width: 100%;
}

header .logo {
  float: left;
  max-height: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav ul {
  list-style: none;
  display: inline-flex;
}

nav ul li {
  display: inline;
  font-size: large;
  font-weight: bold;
}

nav a {
  color: #2b303e;
  padding: 20px;
  text-decoration: none;
}

a:hover {
  color: #445e7f;
  text-decoration: none;
}

nav .active {
  color: #ffffff;
  text-shadow: #414859 1px 1px 10px;
}

.logo img {
  height: 100px;
  vertical-align: middle;
}

@media (max-width: 950px) {
  nav ul li {
    font-size: medium;
  }

  nav a {
    padding: 10px;
  }
}

@media (max-width: 735px) {
  .header {
    height: fit-content;
    background-color: #a3a3a3;
    display: block;
    align-items: center;
  }

  .logo img {
    display: inline;
  }

  nav {
    display: block;
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  nav ul {
    display: block;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
  }

  nav ul li {
    text-align: center;
    font-size: medium;
  }

  nav a {
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 0.2em;
    font-size: 1.25em;
  }

  .clear {
    clear: both;
    padding-top: 0;
  }

  .mobile {
    display: inline;
  }

  .desktop {
    display: none;
  }

  .navicon {
    display: inline;
  }
}