* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html,
body {
  overflow-x: hidden;
  background-color: floralwhite;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

header {
  width: 100%;
  align-items: center;
  background-color: #a3a3a3;
}

header .logo {
  float: left;
  max-height: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav ul {
  padding-left: 0;
  list-style: none;
  display: inline-flex;
  margin: 0;
}

nav ul li {
  display: inline;
  font-size: large;
  font-weight: bold;
}

nav a {
  color: #2b303e;
  padding: 20px;
  text-decoration: none;
}

a:hover {
  color: #445e7f;
  text-decoration: none;
}

nav .active {
  color: #ffffff;
  text-shadow: #414859 1px 1px 10px;
}

.logo img {
  height: 100px;
}

main .carouselHomePage {
  padding: .5%;
  margin: .5%;
  width: 99%;
}

main .carousel-inner img {
  object-fit: cover;
  height: 500px;
}

.carousel-item p,
h3 {
  color: #ffffff;
  text-shadow: #414859 2px 2px 2px;

}

main .picture,
.blog,
.archive,
.gallery {
  padding: .5%;
  margin: .5%;
  width: 99%;
}

section:nth-child(odd) {
  background-color: #a3aeb7
}

.text-overflow-clamp {
  width: 100%;
  /* this code clamps based on specified lines */
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  display: -webkit-box;
}

.card-body img {
  max-width: 600px;
  object-fit: contain;
}

footer {
  background-color: dimgrey;
  padding: 5em;
}

@media (max-width: 965px) {
  nav ul li {
    font-size: medium;
  }

  nav a {
    padding: 10px;
  }
}

@media (max-width: 768px) {

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: inline-block;
  }

  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .header .logo {
    justify-content: center;
    background-color: #5E7EAC;
    display: flex;
    float: none;
  }

  .header {
    height: fit-content;
    background-color: #a3a3a3;
    display: block;
    align-items: center;
  }

  nav {
    display: block;
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  nav ul {
    display: block;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
  }

  nav ul li {
    text-align: center;
    font-size: medium;
  }

  nav a {
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 0.2em;
    font-size: 1.25em;
  }

  .carouselHomePage {
    display: none;
  }

  .card-body img {
    max-width: 100%;
  }

  .clear {
    clear: both;
    padding-top: 0;
  }

  .mobile {
    display: inline;
  }

  .desktop {
    display: none;
  }

  .navicon {
    display: inline;
  }
}